datapack/build/*
datapack/build/*.*
gameserver/build/*
gameserver/build/*.*
.svn/*
.svn/*.*
datapack/data/scripts/custom/2001_Buffer/__init__$py.class
datapack/data/scripts/custom/2005_Event_Buffer/__init__$py.class
datapack/data/scripts/custom/2003_Ranking/__init__$py.class
gameserver/config/hexid.txt
datapack/data/scripts/quests/__init__$py.class
datapack/data/scripts/quests/SagasSuperclass/__init__$py.class
gameserver/lib/cachedir/*
gameserver/lib/cachedir/*.*
